# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        minecraft:leaping
        fluid:sweetened_water
        potioncore:magic_inhibition
        fluid:golden_carrot_juice
        potioncore:long_klutz
        potioncore:long_recoil
        minecraft:long_weakness
        aether_legacy:mossy_holystone_double_slab
        potioncore:strong_rust
        potioncore:strong_curse
        fluid:lava
        potioncore:long_wither
        bountifulbaubles:modifierbook
        inspirations:long_hunger
        quark:haste
        fluid:apple_juice
        potioncore:iron_skin
        potioncore:strong_step_up
        fluid:black_apple_stew
        potioncore:long_haste
        fluid:honey
        xat:extended_human
        potioncore:strong_reach
        enchantment:enchantment.loyalty.lvl1
        xat:extended_dwarf
        enchantment:enchantment.loyalty.lvl3
        enchantment:enchantment.loyalty.lvl2
        pickletweaks:lead_paxel
        minecraft:monster_egg
        fluid:suspicious_stew_lily_of_the_valley
        potioncore:long_absorption
        pvj:cottonwood_door
        lost_aether:locked_gale_stone
        potioncore:recoil
        potioncore:strong_archery
        ironfurnaces:glass_furnace_active
        potioncore:drown
        minecraft:poison
        potioncore:broken_magic_shield
        potioncore:strong_vulnerable
        minecraft:awkward
        quark:long_mining_fatigue
        inspirations:blindness
        xat:dwarf
        xat:human
        fluid:suspicious_stew_wither_rose
        fluid:carrot_juice
        potioncore:love
        inspirations:resistance
        minecraft:long_strength
        quark:danger_sight
        xat:extended_goblin
        potioncore:perplexity
        potioncore:haste
        potioncore:klutz
        aether_legacy:angelic_double_slab
        quark:long_resilience
        quark:resistance
        lost_aether:locked_light_gale_stone
        goodnightsleep:dream_farmland
        minecraft:strong_harming
        quark:strong_resistance
        reccomplex
        aether_legacy:aether_portal
        pvj:fir_door
        potioncore:wither
        potioncore:strong_haste
        potioncore:strong_weight
        potioncore:antidote
        enchantment:enchantment.channeling.lvl1
        carryon:tile_item
        potioncore:strong_extension
        potioncore:long_revival
        xat:extended_faelis
        potioncore:strong_resistance
        potioncore:long_broken_magic_shield
        potioncore:long_step_up
        futureminecraf:warpednyliumspread
        potioncore:strong_recoil
        potioncore:revival
        aether_legacy:locked_dungeon_block:0
        quark:long_haste
        aether_legacy:locked_dungeon_block:2
        aether_legacy:locked_dungeon_block:3
        aether_legacy:locked_dungeon_block:4
        potioncore:long_hunger
        aether_legacy:locked_dungeon_block:5
        xat:dragon
        inspirations:long_blindness
        potioncore:teleport_surface
        fluid:mushroom_stew
        potioncore:long_repair
        potioncore:repair
        potioncore:long_broken_armor
        fluid:cactus_juice
        fluid:nether_wart_stew
        potioncore:long_climb
        potioncore:strong_launch
        aether_legacy:aerogel_double_slab
        potioncore:hunger
        potioncore:strong_magic_focus
        mowziesmobs:logo
        potioncore:curse
        twilightforest:miniature_structure
        potioncore:archery
        pvj:maple_door
        pvj:aspen_door
        potioncore:fire
        potioncore:long_magic_inhibition
        potioncore:explode
        minecraft:harming
        ironfurnaces:diamond_furnace_active
        potioncore:long_levitation
        toughasnails:long_cold_resistance_type
        xat:extended_dragon
        futureminecraf:target
        enchantment:enchantment.riptide.lvl3
        inspirations:fatigue
        enchantment:enchantment.riptide.lvl1
        enchantment:enchantment.riptide.lvl2
        potioncore:cure
        xat:glittering
        pvj:palm_door
        xat:elf
        potioncore:long_vulnerable
        potioncore:climb
        potioncore:solid_core
        potioncore:slow_fall
        potioncore:long_resistance
        aether_legacy:hellfire_double_slab
        netherex:frigid_health
        potioncore:long_slow_fall
        quark:mining_fatigue
        pickletweaks:copper_paxel
        fluid:sand
        mowziesmobs:test_structure
        potioncore:reach
        fluid:knightmetal
        inspirations:long_levitation
        potioncore:strong_absorption
        potioncore:long_diamond_skin
        ironfurnaces:obsidian_furnace_active
        quark:resilience
        lost_aether:gale_double_slab
        pvj:pine_door
        futureminecraf:soulfire
        pvj:cherry_blossom_door
        minecraft:knowledge_book
        minecraft:strong_leaping
        toughasnails:cold_resistance_type
        xat:extended_titan
        goodnightsleep:strange_bed
        fluid:poison
        potioncore:long_weight
        futureminecraf:basaltdeltapillar
        minecraft:long_water_breathing
        potioncore:rust
        potioncore:strong_teleport
        potioncore:long_rust
        fluid:fierymetal
        xat:extended_fairy
        minecraft:long_swiftness
        minecraft:regeneration
        potioncore:long_nausea
        xat:faelis
        potioncore:strong_blindness
        potioncore:strong_revival
        potioncore:strong_saturation
        minecraft:strong_healing
        futureminecraf:warpednetherwartdrop
        inspirations:long_resistance
        fluid:morphine
        potioncore:long_drown
        potioncore:strong_repair
        minecraft:fire_resistance
        inspirations:haste
        potioncore:purity
        minecraft:swiftness
        potioncore:health_boost
        minecraft:long_regeneration
        goodnightsleep:wretched_bed
        potioncore:strong_explode
        potioncore:long_reach
        potioncore:dispel
        fluid:suspicious_stew_dandelion
        aether_legacy:holystone_brick_double_slab
        xat:extended_elf
        fluid:fiery_essence
        futureminecraf:basaltpillardrop
        fluid:golden_apple_juice
        fluid:suspicious_stew_cornflower
        futureminecraf:soulsoilspread
        pickletweaks:aluminum_paxel
        pvj:baobab_door
        inspirations:long_decay
        potioncore:strong_chance
        fluid:water
        potioncore:strong_broken_armor
        enchantment:enchantment.impaling.lvl1
        fluid:sugarcane_juice
        potioncore:bless
        enchantment:enchantment.impaling.lvl2
        enchantment:enchantment.impaling.lvl3
        potioncore:teleport
        enchantment:enchantment.impaling.lvl4
        potioncore:strong_magic_shield
        enchantment:enchantment.impaling.lvl5
        futureminecraf:warpedfungispawn
        potioncore:long_iron_skin
        fluid:beetroot_juice
        potioncore:strong_levitation
        pvj:juniper_door
        goodnightsleep:rainbow_crop
        minecraft:long_invisibility
        minecraft:strong_regeneration
        xat:goblin
        netherex:dispersal
        potioncore:strong_diamond_skin
        xat:glowing
        futureminecraf:slowfall
        futureminecraf:basaltdeltaspread
        inspirations:strong_hunger
        minecraft:night_vision
        potioncore:absorption
        aether_legacy:carved_double_slab
        potioncore:flight
        pickletweaks:invar_paxel
        mowziesmobs:mob_remover
        potioncore:strong_health_boost
        toughasnails:heat_resistance_type
        pickletweaks:tin_paxel
        xat:fairy
        xat:titan
        futuremc:banner_pattern:4
        futuremc:banner_pattern:5
        minecraft:healing
        carryon:entity_item
        potioncore:strong_magic_inhibition
        toughasnails:long_heat_resistance_type
        minecraft:long_leaping
        potioncore:long_solid_core
        fluid:hot_spring_water
        netherex:freezing
        fluid:milk
        potioncore:long_flight
        minecraft:strength
        pickletweaks:nickel_paxel
        pvj:mangrove_door
        potioncore:chance
        aether_legacy:holystone_double_slab
        potioncore:unluck
        potioncore:long_magic_focus
        potioncore:long_antidote
        pickletweaks:silver_paxel
        netherex:sorrow
        inspirations:levitation
        xat:sparkling
        potioncore:magic_shield
        potioncore:teleport_spawn
        sereneseasons:season_sensor_winter
        minecraft:luck
        potioncore:broken_armor
        potioncore:long_perplexity
        ironfurnaces:iron_furnace_active
        mowziesmobs:long_poison_resist
        futureminecraf:fungispawn
        potioncore:saturation
        potioncore:magic_focus
        potioncore:burst
        pvj:willow_door
        potioncore:strong_iron_skin
        futureminecraf:basaltpillarblock
        aether_legacy:developer_stick
        potioncore:extension
        quark:strong_resilience
        potioncore:long_spin
        biomesoplenty:blue_fire
        potioncore:mining_fatigue
        potioncore:lightning
        fluid:blood
        fluid:suspicious_stew_blue_orchid
        potioncore:spin
        minecraft:mundane
        fluid:beetroot_soup
        potioncore:strong_slow_fall
        inspirations:strong_haste
        minecraft:strong_strength
        potioncore:vulnerable
        potioncore:long_extension
        minecraft:weakness
        minecraft:long_night_vision
        sereneseasons:season_sensor_autumn
        mowziesmobs:poison_resist
        pvj:jacaranda_door
        quark:strong_mining_fatigue
        minecraft:invisibility
        inspirations:hunger
        potioncore:step_up
        minecraft:long_fire_resistance
        potioncore:strong_mining_fatigue
        potioncore:strong_wither
        quark:long_resistance
        pickletweaks:constantan_paxel
        goodnightsleep:luxurious_bed
        inspirations:strong_fatigue
        futureminecraf:crimsonnyliumspread
        aether_legacy:aether_portal_frame
        potioncore:nausea
        minecraft:long_slowness
        potioncore:long_health_boost
        potioncore:strong_bless
        potioncore:glowing
        potioncore:long_magic_shield
        potioncore:long_archery
        fluid:chorus_fruit_juice
        minecraft:strong_swiftness
        minecraft:water_breathing
        quark:strong_haste
        potioncore:diamond_skin
        potioncore:strong_hunger
        minecraft:slowness
        potioncore:strong_broken_magic_shield
        fluid:purified_water
        futureminecraf:netherwartblockdrop
        potioncore:long_purity
        potioncore:launch
        potioncore:resistance
        potioncore:strong_fire
        potioncore:invert
        minecraft:strong_poison
        ironfurnaces:gold_furnace_active
        fluid:glistering_melon_juice
        aether_legacy:dungeon_trap:0
        potioncore:levitation
        quark:long_danger_sight
        sereneseasons:season_sensor_summer
        aether_legacy:dungeon_trap:5
        minecraft:thick
        aether_legacy:dungeon_trap:2
        minecraft:long_poison
        potioncore:long_mining_fatigue
        aether_legacy:dungeon_trap:4
        aether_legacy:dungeon_trap:3
        aether_legacy:skyroot_double_slab
        potioncore:strong_spin
        potioncore:disorganization
        potioncore:weight
        potioncore:strong_burst
        fluid:rabbit_stew
        futureminecraf:netherbiomespawner
        fluid:melon_juice
        fluid:pumpkin_juice
        potioncore:strong_klutz
        futureminecraf:basaltdeltamountainform
        inspirations:decay
        pvj:redwood_door
        potioncore:blindness
        pickletweaks:electrum_paxel
        potioncore:long_glowing
        potioncore:long_blindness
     >
}


