# Configuration file

entitiesalwaysinfernal {
    B:AS_EntityGolem=false
    B:EntityAshen=false
    B:EntityBabyCreeper=false
    B:EntityBanshee=false
    B:EntityBarako=false
    B:EntityBarakoanToBarakoana=false
    B:EntityBarakoana=false
    B:EntityBarakoaya=false
    B:EntityBlaze=false
    B:EntityBrute=false
    B:EntityCaveSpider=false
    B:EntityCockatrice=false
    B:EntityCoolmarSpider=false
    B:EntityCreeper=false
    B:EntityDragon=false
    B:EntityDweller=false
    B:EntityElderGuardian=false
    B:EntityEmber=false
    B:EntityEnderman=false
    B:EntityEvoker=false
    B:EntityFireMinion=false
    B:EntityFoliaath=false
    B:EntityFrost=false
    B:EntityFrostmaw=false
    B:EntityGhast=false
    B:EntityGhastQueen=false
    B:EntityGhastling=false
    B:EntityGhost=false
    B:EntityGoon=false
    B:EntityGrottol=false
    B:EntityGuardian=false
    B:EntityHusk=false
    B:EntityIceCube=false
    B:EntityIllusionIllager=false
    B:EntityMagmaCube=false
    B:EntityMimic=false
    B:EntityMogus=false
    B:EntityNaga=false
    B:EntityNethermite=false
    B:EntityPigZombie=false
    B:EntityPirate=false
    B:EntitySalamander=false
    B:EntitySentry=false
    B:EntityShade=false
    B:EntitySilverfish=false
    B:EntitySkeletalKnight=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntitySpinout=false
    B:EntitySpore=false
    B:EntitySporeCreeper=false
    B:EntityStray=false
    B:EntitySunSpirit=false
    B:EntityTFAdherent=false
    B:EntityTFArmoredGiant=false
    B:EntityTFBlockGoblin=false
    B:EntityTFBoggard=false
    B:EntityTFDeathTome=false
    B:EntityTFFireBeetle=false
    B:EntityTFGiantMiner=false
    B:EntityTFGoblinKnightLower=false
    B:EntityTFGoblinKnightUpper=false
    B:EntityTFHarbingerCube=false
    B:EntityTFHedgeSpider=false
    B:EntityTFHelmetCrab=false
    B:EntityTFHydra=true
    B:EntityTFIceCrystal=false
    B:EntityTFIceExploder=false
    B:EntityTFIceShooter=false
    B:EntityTFKingSpider=false
    B:EntityTFKnightPhantom=true
    B:EntityTFKobold=false
    B:EntityTFLich=true
    B:EntityTFLichMinion=false
    B:EntityTFMazeSlime=false
    B:EntityTFMiniGhast=false
    B:EntityTFMinoshroom=true
    B:EntityTFMinotaur=true
    B:EntityTFMosquitoSwarm=false
    B:EntityTFNaga=true
    B:EntityTFPinchBeetle=false
    B:EntityTFRedcap=false
    B:EntityTFRedcapSapper=false
    B:EntityTFRovingCube=false
    B:EntityTFSkeletonDruid=false
    B:EntityTFSlimeBeetle=false
    B:EntityTFSnowGuardian=false
    B:EntityTFSnowQueen=false
    B:EntityTFSwarmSpider=false
    B:EntityTFTowerBroodling=false
    B:EntityTFTowerGhast=true
    B:EntityTFTowerGolem=false
    B:EntityTFTowerTermite=false
    B:EntityTFTroll=false
    B:EntityTFUrGhast=false
    B:EntityTFWraith=false
    B:EntityTFYeti=false
    B:EntityTFYetiAlpha=true
    B:EntityTormenter=false
    B:EntityValkyrie=false
    B:EntityValkyrieQueen=false
    B:EntityVex=false
    B:EntityVindicator=false
    B:EntityWasp=false
    B:EntityWatcher=false
    B:EntityWhirlwind=false
    B:EntityWight=false
    B:EntityWitch=false
    B:EntityWither=false
    B:EntityWitherSkeleton=false
    B:EntityWraith=false
    B:EntityWroughtnaut=false
    B:EntityZephyr=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
}


entitybasehealth {
    D:AS_EntityGolem=200.0
    D:EntityAshen=20.0
    D:EntityBanshee=20.0
    D:EntityBarako=141.6308135986328
    D:EntityBarakoanToBarakoana=12.019371032714844
    D:EntityBarakoana=10.0
    D:EntityBarakoaya=12.362052917480469
    D:EntityBlaze=22.866657257080078
    D:EntityBrute=33.36631393432617
    D:EntityCaveSpider=12.0
    D:EntityCockatrice=20.0
    D:EntityCoolmarSpider=21.660091400146484
    D:EntityCreeper=20.0
    D:EntityDweller=20.0
    D:EntityElderGuardian=80.0
    D:EntityEmber=2.504584312438965
    D:EntityEnderman=40.0
    D:EntityFireMinion=41.182533264160156
    D:EntityFoliaath=10.0
    D:EntityFrost=21.30364227294922
    D:EntityFrostmaw=251.7386474609375
    D:EntityGhast=10.0
    D:EntityGhost=10.0
    D:EntityGoon=20.0
    D:EntityGrottol=20.0
    D:EntityGuardian=30.0
    D:EntityHusk=20.0
    D:EntityIceCube=6.152298450469971
    D:EntityMagmaCube=6.36924934387207
    D:EntityMogus=2.0
    D:EntityNaga=300.0
    D:EntityNethermite=51.743988037109375
    D:EntityPigZombie=20.0
    D:EntityPirate=20.0
    D:EntitySalamander=13.743118286132812
    D:EntityShade=20.0
    D:EntitySilverfish=8.0
    D:EntitySkeletalKnight=20.0
    D:EntitySkeleton=20.0
    D:EntitySlime=4.0
    D:EntitySpider=16.0
    D:EntitySpinout=18.5162353515625
    D:EntitySpore=9.276860237121582
    D:EntitySporeCreeper=21.42547035217285
    D:EntityTFFireBeetle=26.510868072509766
    D:EntityTFGoblinKnightLower=21.31139373779297
    D:EntityTFGoblinKnightUpper=30.0
    D:EntityTFHelmetCrab=15.977869033813477
    D:EntityTFHydra=361.4767761230469
    D:EntityTFIceExploder=20.0
    D:EntityTFIceShooter=22.35304832458496
    D:EntityTFKingSpider=30.0
    D:EntityTFKnightPhantom=35.0
    D:EntityTFKobold=14.70511245727539
    D:EntityTFLich=100.0
    D:EntityTFMazeSlime=35.2999267578125
    D:EntityTFMiniGhast=6.0
    D:EntityTFMinoshroom=120.0
    D:EntityTFMinotaur=32.01107406616211
    D:EntityTFNaga=121.2755126953125
    D:EntityTFPinchBeetle=42.67782974243164
    D:EntityTFRedcap=21.26156997680664
    D:EntityTFRovingCube=10.0
    D:EntityTFSkeletonDruid=21.29671287536621
    D:EntityTFSlimeBeetle=25.0
    D:EntityTFSwarmSpider=3.0
    D:EntityTFTowerBroodling=7.0
    D:EntityTFTowerGhast=30.0
    D:EntityTFTowerTermite=17.189346313476562
    D:EntityTFWraith=22.450942993164062
    D:EntityTFYeti=20.0
    D:EntityTFYetiAlpha=202.9026641845703
    D:EntityTormenter=20.0
    D:EntityValkyrie=51.07687759399414
    D:EntityValkyrieQueen=501.6672668457031
    D:EntityVindicator=24.0
    D:EntityWasp=12.387548446655273
    D:EntityWatcher=20.0
    D:EntityWhirlwind=10.0
    D:EntityWight=11.360861778259277
    D:EntityWitch=27.600717544555664
    D:EntityWitherSkeleton=22.28537368774414
    D:EntityWraith=40.0
    D:EntityWroughtnaut=40.0
    D:EntityZephyr=5.0
    D:EntityZombie=20.0
    D:EntityZombieVillager=22.085792541503906
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=false
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=false
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=false
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=false
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    S:dimensionIDBlackList=
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=bountifulbaubles:spectralsilt-0-1-3,scalinghealth:heartdust-0-16-32,scalinghealth:crystalshard-0-2-8,iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6,enchanted_book
    S:droppedItemIDsInfernal=bountifulbaubles:spectralsilt-0-1-3,bountifulbaubles:trinketvitamins,bountifulbaubles:trinketapple,bountifulbaubles:ringfreeaction,bountifulbaubles:ringoverclocking,bountifulbaubles:trinketmagiclenses,bountifulbaubles:amuletcross,bountifulbaubles:amuletsinempty,scalinghealth:heartdust-0-16-32,scalinghealth:crystalshard-0-2-8,diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl-0-1-3,ender_eye-0-1-3,enchanted_book,enchanted_book,enchanted_book
    S:droppedItemIDsUltra=bountifulbaubles:spectralsilt-0-1-3,scalinghealth:heartdust-0-16-32,scalinghealth:crystalshard-0-2-8,bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book,enchanted_book
    I:eliteRarity=20
    I:infernoRarity=5
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=10
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AS_EntityGolem=true
    B:EntityAshen=true
    B:EntityBabyCreeper=true
    B:EntityBanshee=true
    B:EntityBarako=true
    B:EntityBarakoanToBarakoana=true
    B:EntityBarakoana=true
    B:EntityBarakoaya=true
    B:EntityBlaze=true
    B:EntityBrute=true
    B:EntityCaveSpider=true
    B:EntityCockatrice=true
    B:EntityCoolmarSpider=true
    B:EntityCreeper=true
    B:EntityDragon=true
    B:EntityDweller=true
    B:EntityElderGuardian=true
    B:EntityEmber=true
    B:EntityEnderman=true
    B:EntityEvoker=true
    B:EntityFireMinion=true
    B:EntityFoliaath=true
    B:EntityFrost=true
    B:EntityFrostmaw=true
    B:EntityGhast=true
    B:EntityGhastQueen=true
    B:EntityGhastling=true
    B:EntityGhost=true
    B:EntityGoon=true
    B:EntityGrottol=true
    B:EntityGuardian=true
    B:EntityHusk=true
    B:EntityIceCube=true
    B:EntityIllusionIllager=true
    B:EntityMagmaCube=true
    B:EntityMimic=true
    B:EntityMogus=true
    B:EntityNaga=true
    B:EntityNethermite=true
    B:EntityPigZombie=true
    B:EntityPirate=true
    B:EntitySalamander=true
    B:EntitySentry=true
    B:EntityShade=true
    B:EntitySilverfish=true
    B:EntitySkeletalKnight=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntitySpinout=true
    B:EntitySpore=true
    B:EntitySporeCreeper=true
    B:EntityStray=true
    B:EntitySunSpirit=true
    B:EntityTFAdherent=true
    B:EntityTFArmoredGiant=true
    B:EntityTFBlockGoblin=true
    B:EntityTFBoggard=true
    B:EntityTFDeathTome=true
    B:EntityTFFireBeetle=true
    B:EntityTFGiantMiner=true
    B:EntityTFGoblinKnightLower=true
    B:EntityTFGoblinKnightUpper=true
    B:EntityTFHarbingerCube=true
    B:EntityTFHedgeSpider=true
    B:EntityTFHelmetCrab=true
    B:EntityTFHydra=true
    B:EntityTFIceCrystal=true
    B:EntityTFIceExploder=true
    B:EntityTFIceShooter=true
    B:EntityTFKingSpider=true
    B:EntityTFKnightPhantom=true
    B:EntityTFKobold=true
    B:EntityTFLich=true
    B:EntityTFLichMinion=true
    B:EntityTFMazeSlime=true
    B:EntityTFMiniGhast=true
    B:EntityTFMinoshroom=true
    B:EntityTFMinotaur=true
    B:EntityTFMosquitoSwarm=true
    B:EntityTFNaga=true
    B:EntityTFPinchBeetle=true
    B:EntityTFRedcap=true
    B:EntityTFRedcapSapper=true
    B:EntityTFRovingCube=true
    B:EntityTFSkeletonDruid=true
    B:EntityTFSlimeBeetle=true
    B:EntityTFSnowGuardian=true
    B:EntityTFSnowQueen=true
    B:EntityTFSwarmSpider=true
    B:EntityTFTowerBroodling=true
    B:EntityTFTowerGhast=true
    B:EntityTFTowerGolem=true
    B:EntityTFTowerTermite=true
    B:EntityTFTroll=true
    B:EntityTFUrGhast=true
    B:EntityTFWraith=true
    B:EntityTFYeti=true
    B:EntityTFYetiAlpha=true
    B:EntityTormenter=true
    B:EntityValkyrie=true
    B:EntityValkyrieQueen=true
    B:EntityVex=true
    B:EntityVindicator=true
    B:EntityWasp=true
    B:EntityWatcher=true
    B:EntityWhirlwind=true
    B:EntityWight=true
    B:EntityWitch=true
    B:EntityWither=true
    B:EntityWitherSkeleton=true
    B:EntityWraith=true
    B:EntityWroughtnaut=true
    B:EntityZephyr=false
    B:EntityZombie=true
    B:EntityZombieVillager=true
}


