# Configuration file

general {
    # Set stage, title and icon index 
    # Example: stageone:Build Master:0
    S:newStageTitles <
        
        nether:Nether Dimention:1
        aether:Aether Dimention:1
        twilight_forest:Twilight Forest Dimention:1
        end:End Dimention:1
        
        zanite_ore:Zanite Ore:0
        gravitite_ore:Gravitite Ore:0
        
        end_amethyst_ore:End Amethyst Ore:0
        biotite_ore:Biotite Ore:0
        
        quartz_ore:Quartz Ore:0
        rime_ore:Rime Ore:0
        nether_amethyst_ore:Nether Amethyst Ore:0
        cincinnasite_ore:Cincinnasite Ore:0
        netherite_ore:Netherite Ore:0
        
        gold_ore:Gold Ore:0
        iron_ore:Iron Ore:0
        lapis_ore:Lapis Ore:0
        redstone_ore:Redstone Ore:0
        biome_gems:Biome Gems Ores:0
        emerald_ore:Emerald Ore:0
        diamond_ore:Diamond Ore:0
        heart_crystal_ore:Heart Crystal Ore:0
        
        liveroot_ore:Liveroot Ore:0
     >

    # Set the message when there is no stages
    S:noStagesMessage=No Explorations (Use "Exploration Books")

    # Set title of stages title gui
    S:stageGuiTitle=Explorations

    # Set the Y offset of stages tab
    I:stageTabYoffset=58
}


