# Configuration file

~CONFIG_VERSION: 1

general {
    # INTERNAL. Development messages enabled.
    B:debug_mode=false

    # Set to false to disable all mod-specific additions to vanilla structure and activity loot tables. Loot is the only way to obtain the custom liners like the Ozzys and Ollies. Enabled by default; requires restart if changed in-game.
    B:enrich_loot_tables=true

    # Set to false to disable the portable 'goo paks' that you carry in your hotbar. Paks are a useful supplement to regular armor liners in extreme environments. Included by default; requires restart if changed in-game.
    B:include_goopaks=true

    # Set to true to enable special liners including their damage mitigation features. These items are available only as loot rewards in the standalone mod. Disabled by default; requires restart if changed in-game.
    B:include_special_liners=false

    # Set to true to include crafting recipes for items that are normally obtained through other mechanisms like looting or advancements. By default, only the ToughAsNails temperature-related 'Ozzy' liners are craftable. [default: *DEFAULT*]
    S:special_liners_craftable=*DEFAULT*

    # Set to true to force all the basic recipes to use a mod-specific element to ensure no collisions with other mod recipes. If turned ON you cannot use TAN armor as liners directly. Off by default; requires restart if changed in-game.
    B:super_compatibility_mode=true

    # Set to the maximum number of plain liners a single piece of armor can have. Applies to all types of armor pieces (helmets, chestplates, leggings, boots). Does not apply to special types of liners.
    I:thickness_limit=3

    # Set to true to force all mod items and blocks to a single custom tab in creative views. Enabled by default.
    B:use_custom_tab=true
}


##########################################################################################################
# integration
#--------------------------------------------------------------------------------------------------------#
# Armor that can be lined in addition to vanilla armor pieces. Requires restart if changed.
##########################################################################################################

integration {
    # Set to the full IDs of all modded boots that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_boots], [cyclicmagic:purple_boots]]
    S:boots <
        boptools:boots_topaz
        boptools:boots_ruby
        boptools:boots_sapphire
        boptools:boots_peridot
        boptools:boots_tanzanite
        boptools:boots_malachite
        boptools:boots_amber
        emerald_mod:emeraldarmorboots
        futuremc:netherite_boots
        lost_aether:agility_boots
        netherex:wither_bone_boots
        netherex:orange_salamander_hide_boots
        netherex:black_salamander_hide_boots
        aether_legacy:zanite_boots
        aether_legacy:gravitite_boots
        aether_legacy:neptune_boots
        aether_legacy:phoenix_boots
        aether_legacy:obsidian_boots
        aether_legacy:valkyrie_boots
        aether_legacy:sentry_boots
        twilightforest:ironwood_boots
        twilightforest:fiery_boots
        twilightforest:steeleaf_boots
        twilightforest:knightmetal_boots
        twilightforest:yeti_boots
        twilightforest:arctic_boots
        twilightforest:steeleaf_boots
        twilightforest:knightmetal_boots
        twilightforest:ironwood_boots
        twilightforest:fiery_boots
     >

    # Set to the full IDs of all modded chestplates that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_chestplate], [cyclicmagic:purple_chestplate]]
    S:chestplate <
        minecraft:chainmail_chestplate
        minecraft:iron_chestplate
        minecraft:diamond_chestplate
        minecraft:golden_chestplate
        boptools:chestplate_topaz
        boptools:chestplate_ruby
        boptools:chestplate_sapphire
        boptools:chestplate_peridot
        boptools:chestplate_tanzanite
        boptools:chestplate_malachite
        boptools:chestplate_amber
        emerald_mod:emeraldarmorbody
        futuremc:netherite_chestplate
        netherex:wither_bone_chestplate
        netherex:orange_salamander_hide_chestplate
        netherex:black_salamander_hide_chestplate
        aether_legacy:zanite_chestplate
        aether_legacy:gravitite_chestplate
        aether_legacy:neptune_chestplate
        aether_legacy:phoenix_chestplate
        aether_legacy:obsidian_chestplate
        aether_legacy:valkyrie_chestplate
        twilightforest:arctic_chestplate
        twilightforest:yeti_chestplate
        twilightforest:naga_chestplate
        twilightforest:ironwood_chestplate
        twilightforest:fiery_chestplate
        twilightforest:knightmetal_chestplate
        twilightforest:steeleaf_chestplate
     >

    # Set to the full IDs of all modded helmets that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_helmet], [cyclicmagic:purple_helmet]]
    S:helmet <
        minecraft:chainmail_helmet
        minecraft:iron_helmet
        minecraft:diamond_helmet
        minecraft:golden_helmet
        boptools:helmet_topaz
        boptools:helmet_ruby
        boptools:helmet_sapphire
        boptools:helmet_peridot
        boptools:helmet_tanzanite
        boptools:helmet_malachite
        boptools:helmet_amber
        emerald_mod:emeraldarmorhelmet
        futuremc:netherite_helmet
        netherex:wither_bone_helmet
        netherex:orange_salamander_hide_helmet
        netherex:black_salamander_hide_helmet
        aether_legacy:zanite_helmet
        aether_legacy:gravitite_helmet
        aether_legacy:neptune_helmet
        aether_legacy:phoenix_helmet
        aether_legacy:obsidian_helmet
        aether_legacy:valkyrie_helmet
        twilightforest:arctic_helmet
        twilightforest:yeti_helmet
        twilightforest:ironwood_helmet
        twilightforest:fiery_helmet
        twilightforest:knightmetal_helmet
        twilightforest:steeleaf_helmet
     >

    # Set to the full IDs of all modded leggings that can be worn over lining up to 3 layers thick (actual max thickness depends on armor piece). Some examples shown. Requires a restart if changed in-game. [default: [basemetals:coldiron_leggings], [cyclicmagic:purple_leggings]]
    S:leggings <
        minecraft:chainmail_leggings
        minecraft:iron_leggings
        minecraft:diamond_leggings
        minecraft:golden_leggings
        boptools:leggings_topaz
        boptools:leggings_ruby
        boptools:leggings_sapphire
        boptools:leggings_peridot
        boptools:leggings_tanzanite
        boptools:leggings_malachite
        boptools:leggings_amber
        emerald_mod:emeraldarmorlegs
        futuremc:netherite_leggings
        netherex:wither_bone_leggings
        netherex:orange_salamander_hide_leggings
        netherex:black_salamander_hide_leggings
        aether_legacy:zanite_leggings
        aether_legacy:gravitite_leggings
        aether_legacy:neptune_leggings
        aether_legacy:phoenix_leggings
        aether_legacy:obsidian_leggings
        aether_legacy:valkyrie_leggings
        twilightforest:naga_leggings
        twilightforest:yeti_leggings
        twilightforest:arctic_leggings
        twilightforest:ironwood_leggings
        twilightforest:knightmetal_leggings
        twilightforest:steeleaf_leggings
        twilightforest:fiery_leggings
     >
}


