# Configuration file

##########################################################################################################
# tan_potion_thirst_configuration
#--------------------------------------------------------------------------------------------------------#
# What the name says
##########################################################################################################

tan_potion_thirst_configuration {
    # Which potions will give the thirst effect after drinking it [default: [minecraft:water]]
    S:potion_ids <
        minecraft:water
     >

    # Makes so all of the potions will give the thirst effect unless they're in the list [default: false]
    B:make_whitelist_blacklist=false

    # A value of thirst you gain after drinking a Potion [range: 0 ~ 2147483647, default: 3]
    I:thirst_value=3

    # A value of hydration you gain after drinking a Potion [range: 0.0 ~ 3.4028235E38, default: 0.1]
    S:hydration_value=0.1

    # A duration of the Thirst effect [range: 1 ~ 2147483647, default: 600]
    I:duration=600
}


